.event {
    background-size: cover;
    background-position: center center;
    cursor:pointer;
    border-top:2px solid transparent;
}

.event:hover {

    border-top:2px solid #25529b;
}

.hover-overlay {
    opacity: 0;
    height: 100%;
    width: 99%;
    background: lightblue;
    margin-right:-4px;
    /*-webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    */
}

.hover-overlay:hover {
    opacity: 0.3;
}

.event {
    height:400px;
    width:300px;
    background-size: cover;
    background-position: center center;
    display: inline-block;
}